.link:hover {
    background-color: #e3e3e3;
    text-decoration: none;
}

.link {
    background-color: white;
    transition: all ease-in-out 0.5s;
}

#menu {
    position: sticky;
    top: 0px;
}

tbody > tr:hover {
    background-color: #e0dfe4;
}

.numeral {
    width: 10%;
    max-width: 100%;
}

.home
{
    width: 45%;
}

.cont-table
{
    width: 90%;
}